@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Medium.woff2") format("woff2"), url("../fonts/DMSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #555;
  line-height: 155%;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
}

.main__start {
  padding: 20rem 0 17.6875rem;
}
.main__about {
  padding: 1.9375rem 0px 8rem;
}
.main__service, .main__event, .main__students, .main__subscribe {
  padding-bottom: 8rem;
}
.main__courses {
  padding: 3.75rem 0;
}
.main__mentor, .main__blog {
  padding: 8rem 0;
}
.main__testimonial {
  padding: 4.5rem 0;
}
@media (max-width: 59.375rem) {
  .main__start {
    padding: 12.5rem 0 17.6875rem;
  }
  .main__service, .main__event, .main__students, .main__subscribe {
    padding-bottom: 4.6875rem;
  }
  .main__about {
    padding-bottom: 5.625rem;
  }
  .main__mentor, .main__blog {
    padding: 4.6875rem 0;
  }
  .main__testimonial {
    padding: 2.8125rem 0;
  }
}
@media (max-width: 43.75rem) {
  .main__service, .main__event, .main__students, .main__subscribe {
    padding-bottom: 3.125rem;
  }
  .main__about {
    padding-bottom: 4.375rem;
  }
  .main__mentor, .main__blog {
    padding: 4.375rem 0;
  }
  .main__testimonial {
    padding: 1.875rem 0;
  }
}

[class*=__container] {
  max-width: 73.875rem;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: block;
  border-radius: 0.25rem;
  background: #086cf9;
  line-height: 150%;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: 0 3px 0 rgb(49, 49, 180);
          box-shadow: 0 3px 0 rgb(49, 49, 180);
  position: relative;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button:active {
  -webkit-box-shadow: 0 1px 0 rgb(49, 49, 180);
          box-shadow: 0 1px 0 rgb(49, 49, 180);
  top: 2px;
}

.title {
  color: #222;
  font-size: 3rem;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 37.5rem) {
  .title {
    font-size: 2.375rem;
  }
}

.header {
  background: #fff;
  position: fixed;
  width: 100%;
  padding: 2.5rem 0px 2rem;
  z-index: 100;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}
.header__logo {
  color: #222;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
  position: relative;
  z-index: 51;
}
.header__menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7rem;
}
.header__btns-box {
  position: relative;
  z-index: 51;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__btn-in {
  color: #222;
}
.header__btn-in:hover {
  color: #086cf9;
}
.header__btn-up {
  padding: 0.75rem;
  width: 6.5rem;
}
@media (max-width: 68.75rem) {
  .header__btns-box {
    gap: 1.25rem;
  }
}
@media (max-width: 57.625rem) {
  .header {
    padding: 1.25rem 0;
  }
}

.menu__burger {
  display: none;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3.875rem;
}
.menu__link {
  color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.menu__link_active, .menu__link:hover {
  color: #086cf9;
}
@media (max-width: 68.75rem) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1.875rem;
  }
}
@media (max-width: 57.5rem) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    gap: 2.5rem;
  }
  .menu__link {
    font-size: 1.875rem;
  }
}

@media (max-width: 57.5rem) {
  .menu__burger {
    display: block;
    z-index: 51;
    width: 1.875rem;
    height: 1.25rem;
    position: relative;
    cursor: pointer;
  }
  .menu__burger span {
    display: block;
    height: 0.125rem;
    width: 100%;
    background-color: #222;
    position: absolute;
    border-radius: 2px;
    top: 50%;
  }
  .menu__burger::before, .menu__burger::after {
    content: "";
    position: absolute;
    height: 0.125rem;
    width: 100%;
    border-radius: 2px;
    background-color: #222;
    top: 0;
    left: 0;
    -webkit-transition: top 0.3s, bottom 0.3s, -webkit-transform 0.3s;
    transition: top 0.3s, bottom 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, top 0.3s, bottom 0.3s;
    transition: transform 0.3s, top 0.3s, bottom 0.3s, -webkit-transform 0.3s;
  }
  .menu__burger::after {
    top: auto;
    bottom: 0;
  }
}
@media (max-width: 57.5rem) and (min-width: 62rem) {
  .menu__burger:hover span, .menu__burger:hover::before, .menu__burger:hover::after {
    background-color: #086cf9;
  }
}
@media (max-width: 57.5rem) {
  .menu__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .menu__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: calc(50% - 1px);
  }
  .menu__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: calc(50% - 1px);
  }
  .header__menu-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #d3e5fe;
    z-index: 50;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: auto;
    gap: 50px;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;
    padding-top: 10rem;
  }
  .header__menu-wrapper.active {
    right: 0;
  }
}
.start {
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  min-height: 100vh;
  background: url(../img/start-bg.jpg) center/cover no-repeat;
}
.start::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.54);
}
.start__container {
  max-width: 63.75rem;
  color: #fff;
  position: relative;
  z-index: 10;
}
.start__title {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1.5rem;
}
.start__descrition {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 auto 3.375rem;
  max-width: 54.1875rem;
  text-align: center;
}
.start__btn {
  display: inline-block;
  padding: 1rem;
  width: 10.4375rem;
}
@media (max-width: 37.5rem) {
  .start__title {
    font-size: 2.625rem;
  }
}

.about {
  position: relative;
}
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8rem;
}
.about__content {
  max-width: 32.4375rem;
}
.about__title {
  margin-bottom: 1.5rem;
}
.about__text {
  margin-bottom: 1rem;
}
.about__description {
  color: #333;
  font-size: 1.25rem;
  line-height: 140%;
  margin-bottom: 2rem;
}
.about__btn {
  display: inline-block;
  padding: 16px 32px;
}
.about__image {
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}
.about__image img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 62rem) {
  .about__image:hover .about__play-box .play-circle {
    color: red;
  }
  .about__image:hover .about__play-box .play-triangle {
    color: #fff;
  }
}
@media (max-width: 1060px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .about__title {
    margin-bottom: 1.25rem;
  }
  .about__container {
    padding-top: 50px;
  }
}

.row {
  margin-top: -126px;
  padding: 0 20px;
}
.row__container {
  padding-top: 56px;
  padding-bottom: 56px;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0px 11px 35px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 11px 35px 0px rgba(0, 0, 0, 0.08);
  max-width: 71.125rem;
}
.row__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9.6875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
}
.row__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}
.row__item-text span {
  color: #222;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.5rem;
}
.row__item-text p {
  color: #086cf9;
}
@media (max-width: 1060px) {
  .row__list {
    gap: 4.375rem;
  }
}
@media (max-width: 860px) {
  .row {
    padding: 0 15px;
  }
  .row__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.875rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.about__play-box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.play-circle {
  color: #fff;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.play-triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #086cf9;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

@media (max-width: 450px) {
  .play-circle {
    width: 50px;
    height: 50px;
  }
  .play-triangle {
    width: 13px;
    height: 13px;
  }
}
.service__container {
  text-align: center;
}
.service__title {
  margin-bottom: 0.75rem;
}
.service__subtitle {
  max-width: 26.4375rem;
  margin: 0 auto 3rem;
}
.service__list {
  display: grid;
  gap: 3.3125rem;
  grid-template-columns: repeat(auto-fill, minmax(15.5rem, 1fr));
}
.service__item-img {
  margin-bottom: 1.5rem;
}
.service__item-title {
  color: #222;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: normal;
}
.service__item-text {
  font-size: 0.875rem;
}
@media (max-width: 37.5rem) {
  .service__subtitle {
    margin-bottom: 1.875rem;
  }
}

.courses {
  background-color: #ecf4ff;
}
.courses__title {
  margin-bottom: 0.75rem;
  text-align: center;
}
.courses__subtitle {
  max-width: 42.125rem;
  margin: 0 auto 3rem;
  text-align: center;
}
.courses__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  gap: 1.875rem 1.5rem;
  margin-bottom: 3rem;
}
.courses__item {
  background-color: #fff;
  border-radius: 0.375rem;
  padding: 1.5rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 48rem) {
  .courses__item {
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: -webkit-box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  }
  .courses__item:hover {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(34, 60, 80, 0.6);
            box-shadow: 0px 2px 5px 0px rgba(34, 60, 80, 0.6);
  }
}
.courses__item-img {
  border-radius: 0.375rem;
  margin-bottom: 1.5rem;
  text-align: left;
  overflow: hidden;
  position: relative;
  padding-bottom: 65%;
}
.courses__item-img img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.courses__item-stats {
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
.courses__stats-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.courses__stats-user::before {
  content: "";
  display: inline-block;
  background: url(../img/courses/user.png) left no-repeat;
  width: 32px;
  height: 32px;
}
.courses__stats-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.courses__stats-view::before {
  content: "";
  display: inline-block;
  background: url(../img/courses/view.png) left no-repeat;
  width: 32px;
  height: 32px;
}
.courses__stats-raiting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.courses__stats-raiting::before {
  content: "";
  display: inline-block;
  background: url(../img/courses/star.png) left no-repeat;
  width: 32px;
  height: 32px;
}
.courses__stats-avatar {
  cursor: pointer;
  margin-bottom: 0.625rem;
}
.courses__item-major {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.125rem;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.courses__major-name {
  color: #333;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
}
.courses__major-price {
  color: #086cf9;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
}
.courses__item-text {
  font-size: 0.875rem;
  text-align: left;
}
.courses__btn {
  width: 11.375rem;
  padding: 16px;
  margin: 0 auto;
}
@media (max-width: 28.125rem) {
  .courses__item {
    padding: 0.625rem;
  }
}
@media (max-width: 37.5rem) {
  .courses__list {
    margin-bottom: 1.875rem;
  }
}

.mentor__title {
  margin-bottom: 0.75rem;
  text-align: center;
}
.mentor__subtitle {
  color: #444;
  text-align: center;
  margin-bottom: 3rem;
  max-width: 34.4375rem;
  margin: 0 auto 3rem;
}
.mentor__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.875rem, 1fr));
  gap: 1.5rem;
}
.mentor__item {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.375rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 11px 55px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 11px 55px 0px rgba(0, 0, 0, 0.08);
}
.mentor__img {
  position: relative;
  padding-bottom: 92.5%;
  overflow: hidden;
}
.mentor__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 62rem) {
  .mentor__img img {
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  }
  .mentor__img img:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
}
.mentor__content {
  padding: 1rem 2rem 2.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.mentor__name {
  color: #222;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: normal;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.mentor__name:hover {
  color: #086cf9;
}
.mentor__major {
  margin-bottom: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.mentor__major:hover {
  color: #086cf9;
}
.mentor__stats {
  display: grid;
  grid-template-columns: auto auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.mentor__users {
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.375rem;
  position: relative;
}
.mentor__users::before {
  content: "";
  background: url(../img/mentor/user.png) left no-repeat;
  width: 16px;
  height: 16px;
}
.mentor__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  gap: 0.375rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.mentor__rate svg {
  color: #086cf9;
}
.mentor__rate:hover {
  color: #086cf9;
}
.mentor__courses {
  justify-self: end;
  font-size: 0.875rem;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.mentor__courses:hover {
  color: #086cf9;
}

.event__title {
  text-align: center;
  margin-bottom: 0.75rem;
}
.event__subtitle {
  color: #444;
  max-width: 26.3125rem;
  text-align: center;
  margin: 0 auto 3rem;
}
.event__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  gap: 1.5rem;
}
.event__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 6px;
  background-color: #fff;
  -webkit-box-shadow: 0px 12px 45px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 12px 45px 0px rgba(0, 0, 0, 0.08);
}
.event__image {
  position: relative;
  padding-bottom: 63.3%;
  overflow: hidden;
  border-radius: 6px 6px 0px 0px;
}
.event__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 62rem) {
  .event__image img {
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  }
  .event__image img:hover {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    cursor: pointer;
  }
}
.event__content {
  padding: 1.5rem 1.5rem 2rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.event__date {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 12px;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-radius: 6px 0px 0px 0px;
  background: #086cf9;
}
.event__item-title {
  color: #222;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: normal;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 1.25rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  max-width: 15.9375rem;
}
.event__item-title:hover {
  color: #086cf9;
}
.event__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
  font-size: 0.875rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.event__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.event__time:hover {
  color: #086cf9;
}
.event__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.event__city:hover {
  color: #086cf9;
}
@media (max-width: 37.5rem) {
  .event__subtitle {
    margin-bottom: 1.875rem;
  }
}

.testimonial {
  background-color: #d3e5fe;
}
.testimonial__container {
  max-width: 54.1875rem;
}
.testimonial__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.testimonial__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(25% - 2.5rem);
          flex: 1 1 calc(25% - 2.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonial__item-number {
  color: #222;
  font-size: 3rem;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1rem;
}
.testimonial__item-link:hover {
  color: #086CF9;
}
@media (max-width: 37.5rem) {
  .testimonial__item-number {
    margin-bottom: 0.3125rem;
  }
}

.blog__title {
  text-align: center;
  margin-bottom: 0.75rem;
}
.blog__subtitle {
  max-width: 26.1875rem;
  margin: 0 auto 2.625rem;
  text-align: center;
}
.blog__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.875rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}
.blog__item {
  border-radius: 4px;
  border: 0.5px solid #bfbfbf;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blog__item-img {
  position: relative;
  padding-bottom: 68%;
  border-radius: 4px 4px 0px 0px;
  overflow: hidden;
}
.blog__item-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 62rem) {
  .blog__item-img img {
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .blog__item-img img:hover {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
}
.blog__item-content {
  padding: 24px 30px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blog__item-title {
  color: #222;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1rem;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.blog__item-title:hover {
  color: #086cf9;
}
.blog__item-text {
  color: #444;
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.blog__item-link {
  color: #086cf9;
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
@media (min-width: 62rem) {
  .blog__item-link::after {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #086cf9;
  }
  .blog__item-link:hover::after {
    width: 100%;
    left: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.blog__btn {
  display: block;
  padding: 16px;
  margin: 0 auto;
  max-width: 7.75rem;
}
@media (max-width: 37.5rem) {
  .blog__subtitle {
    margin-bottom: 1.25rem;
  }
  .blog__list {
    margin-bottom: 1.5625rem;
  }
}

.students__container {
  overflow: hidden;
}
.students__title {
  text-align: center;
  margin-bottom: 0.75rem;
}
.students__subtitle {
  max-width: 30.6875rem;
  margin: 0 auto 0.9375rem;
  text-align: center;
}
@media (min-width: 40.625rem) {
  .students__subtitle {
    margin-bottom: 2.625rem;
  }
}
.students__swiper-wrapper {
  position: relative;
}
.students__swiper-prev {
  z-index: 50;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -10px;
}
.students__prev-arrow {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}
.students__prev-arrow svg:nth-child(1) {
  color: #086cf9;
  fill: #086cf9;
}
.students__prev-arrow svg:nth-child(2) {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
}
.students__swiper-prev.swiper-button-disabled {
  cursor: auto;
  pointer-events: none;
}
.students__swiper-prev.swiper-button-disabled svg:nth-child(1) {
  color: #d5d4d4;
  fill: none;
}
.students__swiper-prev.swiper-button-disabled svg:nth-child(2) {
  color: #d5d4d4;
}
.students__swiper-next {
  z-index: 50;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -10px;
}
.students__next-arrow {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}
.students__next-arrow svg:nth-child(1) {
  color: #086cf9;
  fill: #086cf9;
}
.students__next-arrow svg:nth-child(2) {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
}
.students__swiper-next.swiper-button-disabled {
  cursor: auto;
  pointer-events: none;
}
.students__swiper-next.swiper-button-disabled svg:nth-child(1) {
  color: #d5d4d4;
  fill: none;
}
.students__swiper-next.swiper-button-disabled svg:nth-child(2) {
  color: #d5d4d4;
}

.swiper {
  overflow: hidden;
  max-width: 62.75rem;
  padding: 15px 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.swiper__slide-text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 1.25rem;
}
@media (min-width: 40.625rem) {
  .swiper__slide-text {
    max-width: 16.75rem;
  }
}
.swiper__slide-student {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.swiper__student-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.swiper__student-name {
  color: #222;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0.5rem;
}
.swiper__student-major {
  font-size: 0.875rem;
}

.students__swiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 1.875rem 0.9375rem;
  border-radius: 6px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
}

.subscribe {
  padding-left: 15px;
  padding-right: 15px;
}
.subscribe__container {
  border-radius: 6px;
  background-color: #086cf9;
  max-width: 58.6875rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.subscribe__title {
  color: #fcfcfc;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-bottom: 0.75rem;
}
.subscribe__subtitle {
  color: #f9f9f9;
  max-width: 30.6875rem;
  text-align: center;
  margin: 0 auto 3rem;
}
.subscribe__form {
  position: relative;
  max-width: 33.625rem;
  margin: 0 auto;
}
.subscribe__input {
  width: 100%;
  padding: 1.3125rem 5.9375rem 1.3125rem 0.625rem;
  border-radius: 4px;
}
.subscribe__input::-webkit-input-placeholder {
  color: #555;
  font-size: 0.875rem;
}
.subscribe__input::-moz-placeholder {
  color: #555;
  font-size: 0.875rem;
}
.subscribe__input:-ms-input-placeholder {
  color: #555;
  font-size: 0.875rem;
}
.subscribe__input::-ms-input-placeholder {
  color: #555;
  font-size: 0.875rem;
}
.subscribe__input::placeholder {
  color: #555;
  font-size: 0.875rem;
}
.subscribe__input:focus::-webkit-input-placeholder {
  font-size: 0;
}
.subscribe__input:focus::-moz-placeholder {
  font-size: 0;
}
.subscribe__input:focus:-ms-input-placeholder {
  font-size: 0;
}
.subscribe__input:focus::-ms-input-placeholder {
  font-size: 0;
}
.subscribe__input:focus::placeholder {
  font-size: 0;
}
.subscribe__btn {
  position: absolute;
  top: 50%;
  padding: 12px 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5px;
  display: block;
  border-radius: 0.25rem;
  background: #086cf9;
  line-height: 150%;
  color: #fff;
  text-align: center;
}
@media (min-width: 26.25rem) {
  .subscribe__input {
    padding: 1.3125rem 7.1875rem 1.3125rem 1.5rem;
  }
  .subscribe__btn {
    padding: 0.75rem 1.25rem;
  }
}

.footer {
  padding: 3.75rem 0 5rem;
  background-color: #d3e5fe;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__column-title {
  color: #222;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1.5rem;
}
.footer__column-text {
  max-width: 22.5rem;
  margin-bottom: 2rem;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.footer__socials-link {
  padding: 14px;
  border-radius: 4px;
  background-color: #fff;
  -ms-flex-item-align: start;
      align-self: start;
  width: 48px;
  height: 48px;
  color: #086cf9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 62rem) {
  .footer__socials-link {
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .footer__socials-link:hover {
    color: #fff;
    background-color: #086cf9;
  }
}
.footer__list-item {
  color: #444;
  line-height: normal;
}
@media (min-width: 62rem) {
  .footer__list-item {
    -webkit-transition: color 0.15s linear;
    transition: color 0.15s linear;
  }
  .footer__list-item:hover {
    color: #086cf9;
  }
}
.footer__list-item:not(:last-child) {
  padding-bottom: 1rem;
}
.footer__list-link {
  padding-left: 1.75rem;
  position: relative;
}
.footer__list-link::after {
  content: "";
  display: block;
  width: 20px;
  height: 20pxgit;
  background: url(../img/footer-arow.svg) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.footer__adress-link {
  display: block;
  max-width: 12.6875rem;
  color: #555;
}
@media (min-width: 62rem) {
  .footer__adress-link {
    -webkit-transition: color 0.15s linear;
    transition: color 0.15s linear;
  }
  .footer__adress-link:hover {
    color: #086cf9;
  }
}
.footer__tell-link, .footer__mail-link, .footer__site-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
@media (max-width: 62rem) {
  .footer {
    padding-bottom: 3.125rem;
  }
}
@media (max-width: 48rem) {
  .footer {
    padding-bottom: 1.875rem;
  }
  .footer__column-title {
    margin-bottom: 0.9375rem;
  }
}