.footer {
  padding: 3.75rem 0 5rem;
  background-color: #d3e5fe;
  // .footer__container
  &__container {
    display: flex;
    gap: 1.875rem;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  // .footer__column
  &__column {
  }
  // .footer__column-title
  &__column-title {
    color: #222;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1.5rem;
  }
  // .footer__column-text
  &__column-text {
    max-width: 22.5rem;
    margin-bottom: 2rem;
  }
  // .footer__socials
  &__socials {
    display: flex;
    gap: 1rem;
  }
  // .footer__socials-item
  &__socials-item {
  }
  // .footer__socials-link
  &__socials-link {
    padding: 14px;
    border-radius: 4px;
    background-color: #fff;
    align-self: start;
    width: 48px;
    height: 48px;
    color: #086cf9;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: 62rem) {
      transition: all 0.25s ease;
      &:hover {
        color: #fff;
        background-color: #086cf9;
      }
    }
  }
  // .footer__list
  &__list {
  }
  // .footer__list-item
  &__list-item {
    color: #444;
    line-height: normal;
  }
  @media (min-width: 62rem) {
    &__list-item {
      transition: color 0.15s linear;
      &:hover {
        color: #086cf9;
      }
    }
  }
  &__list-item:not(:last-child) {
    padding-bottom: 1rem;
  }
  // .footer__list-link
  &__list-link {
    padding-left: 1.75rem;
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 20px;
      height: 20pxgit;
      background: url(../img/footer-arow.svg) no-repeat;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  // .footer__adress-link
  &__adress-link {
    display: block;
    max-width: 12.6875rem;
    color: #555;
    @media (min-width: 62rem) {
      transition: color .15s linear;
      &:hover {
        color: #086cf9;
      }
    }
  }
  // .footer__tell-link
  &__tell-link,
  &__mail-link,
  &__site-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  @media (max-width:62rem){
    padding-bottom: 3.125rem;
  }
  @media (max-width:48rem){
    padding-bottom: 1.875rem;
    &__column-title{
      margin-bottom: 0.9375rem;
    }
  }
}
