.subscribe {
  padding-left: 15px;
  padding-right: 15px;
  // .subscribe__container
  &__container {
    border-radius: 6px;
    background-color: #086cf9;
    max-width: 58.6875rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  // .subscribe__title
  &__title {
    color: #fcfcfc;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 0.75rem;
  }
  // .subscribe__subtitle
  &__subtitle {
    color: #f9f9f9;
    max-width: 30.6875rem;
    text-align: center;
    margin: 0 auto 3rem;
  }
  &__form {
    position: relative;
    max-width: 33.625rem;
    margin: 0 auto;
  }
  // .subscribe__input
  &__input {
    width: 100%;
    padding: 1.3125rem 5.9375rem 1.3125rem 0.625rem;
    border-radius: 4px;
    &::placeholder {
      color: #555;
      font-size: 0.875rem;
    }
    &:focus::placeholder {
      font-size: 0;
    }
  }
  // .subscribe__btn
  &__btn {
    position: absolute;
    top: 50%;
    padding: 12px 10px;
    transform: translateY(-50%);
    right: 5px;
    display: block;
    border-radius: 0.25rem;
    background: #086cf9;
    line-height: 150%;
    color: #fff;
    text-align: center;
  }
  @media (min-width: 26.25rem) {
    &__input {
      padding: 1.3125rem 7.1875rem 1.3125rem 1.5rem;
    }
    &__btn {
      padding: 0.75rem 1.25rem;
    }
  }
}
